{{page-title "Scientists"}}
{{!-- <h2>List of Scientists</h2> --}}


{{!-- explanation: ember renders block contained inside of {{#each}}...{{/each}} --}}
{{!-- model is the function from that route --}}
{{!-- s is an element from array returned from model function --}}
{{!-- <ul>
  {{#each @model as |s|}}
    <li>{{s}}</li>
  {{/each}}
</ul> --}}

<PeopleList @people={{@model}} @title="List of Scientists" />

